@model CRUD.auth
@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.fullname</h2>

<form action="~/Home/Edit" method="post">
    <input type="hidden" name="id" value="@Model.id" />
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullname" value="@Model.fullname" placeholder="Full Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="@Model.email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" name="phone" value="@Model.phone" placeholder="Phone">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    @Html.ActionLink("Back To List", "Index");

</form>

